<div class="fullscreen" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="mat-card-container" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/images/photo_2020-07-25_21-06-21.jpg" alt="my_picture" width="300" height="400">
      </div>
      <div>
        <div>
          <div class="font-raleway font-xx-large">Nur Shahidatul `Adani Binti Shahrulnizam</div>
          <div>Gombak, Selangor</div>
          <div>nurshahidatuladani@gmail.com</div>
        </div>
        <div>
          <div>
            <!-- <mat-button-toggle-group [(ngModel)]="modelName" multiple vertical="false">
                <mat-button-toggle [value]="choice1">
                    Choice1
                </mat-button-toggle>
                <mat-button-toggle [value]="choice2">
                    Choice2
                </mat-button-toggle>
            </mat-button-toggle-group> -->
          </div>
        </div>
      </div>
  </mat-card>
</div>
