<div class="fullscreen" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="mat-card-container" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/images/photo_2020-07-25_21-06-21.jpg" alt="my_picture" width="300" height="400">
      </div>
      <div>
        <div>
          <div class="font-raleway font-xx-large">Nur Shahidatul `Adani Binti Shahrulnizam</div>
          <div>Gombak, Selangor</div>
          <div>nurshahidatuladani@gmail.com</div>
          <div>
            <button mat-flat-button onClick="window.open('https://my.linkedin.com/in/nurshahidatuladani')">
              <img src="/assets/icon/png/linkedin.png" width="20" height="20">
            </button>
            <button mat-flat-button (click)="downloadResume()">
              <img src="/assets/icon/png/download.png" width="30" height="30">
            </button>
          </div>
        </div>
      </div>
  </mat-card>
</div>
