<div class="header">
  <div class="menu-list">
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
      Menu
    </button>
    <mat-menu #menu="matMenu">

      <ng-container *ngFor="let link of links">
        <button mat-menu-item routerLinkActive="active" routerLink="/{{ link.path }}">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span>{{link.name}}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>
<div class="fullscreen">
  <router-outlet></router-outlet>
</div>